{% load static %}
<head>
<title>Octafit</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Octafit</title>
<link rel="stylesheet" href="{% static 'css/common2.css' %}">
<script src="{% static 'js/common.js' %}"></script>

</head>
<body>
    <!-- Navigation bar section-->
   <section id="headers">

       <a href="#"><img src ="{% static 'images/4.png' %}" class="logo"alt=""></a>
       <div>
           <ul id="navbar">
               <li><a class="active" href="index.html">Home</a></li>
               <li><a href="shop.html">Shop</a></li>
               <li><a href="blog.html">Blog</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="about.html">Contact</a></li>
           </ul>

       </div>

   </section>
</body>