<!DOCTYPE html>
<html lang="en" >
<head>
    {% load static %}
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">

</head>
<body>
    {% block content %}
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Signup</h2>
  <form id="login-form" action="signup" method="post">
    {% csrf_token %} 
    <p>
        <input type="email" id="email" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="submit" value="submit">
    </p>
  </form>
  {% csrf_token %} 
  <div id="create-account-wrap">
    <p>Already a member? <a href="login">Login</a><p>
  </div><!--create-account-wrap-->
  
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
{% endblock %}
